html, body, #root {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  margin-top: auto;
}

.icon-style {
  color: #ffffff; 

  vertical-align: middle;
  height: 20px;
  width: 20px;
}

.logo {
  color: #ffffff;
}

header {

  margin: 0;

}

@media (max-width: 768px) {
  .scroll-container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scroll-container::-webkit-scrollbar {
    display: none;
  }
}
